.read_article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.read_article img {
    width: 18em;
    display: block;
    margin: 5% auto;
}

.read_article p {
    width: 80%;
    margin: 0 auto 2em auto;
}