.read_article img {
    width: 18em;
    display: block;
    margin: auto;
}

.read_article h1 {
    font-size: 1.8em;
}

.read_article p {
    font-size: 1.2em;
    width: 80%;
    margin: 0 auto 2em auto;
}