.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: .5em 0;
    background-color: #0E0452;
}

.nav img {
    margin-left: 1.8em;
    width: 1.8em;
    vertical-align: middle;
}

.nav button {
    border: none;
    background-color: transparent;
}

.menuBtn {
    color: white;
    position: absolute;
    z-index: 100;
    top: 0.4em;
    right: -0.1em;
    margin-right: 2.2em;
    font-size: 1.5em;
    cursor: pointer;
}

.menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 80%;
    height: 100vh;
    padding: 2em;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(14, 4, 82, 0.925);
    transition: all .2s ease-in;
}

.menu p {
    margin: 1.3em 0 0;
    padding: 0.3em;
    text-align: center;
    color: white;
}

.menu li {
    margin: 0.3em 0;
}

.menu a {
    color: white;
    text-decoration: underline;
}

.menu button {
    color: white;
    font-size: 1em;
    cursor: pointer;
}

@media screen and (min-width: 550px) {
    .nav {
        padding: 1em 0;
    }

    .nav img {
        margin-left: 3.5em;
        width: 2em;
    }

    .menuBtn {
        top: .8em;
        margin-right: 3.9em;
        font-size: 1.9em;
    }
}

@media screen and (min-width: 1200px) {
    .menuBtn {
        font-size: 2em;
    }
}