.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 1em;
}

.menuBtn {
    position: absolute;
    z-index: 100;
    right: 0;
    margin-right: 1.5em;
}

.menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 80%;
    height: 100vh;
    padding: 2em;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: black;
    transition: all .2s ease-in;
}

.menu p {
    font-size: 1.1em;
    margin: 1.3em 0 0;
    padding: 0.3em;
    text-transform: uppercase;
    color: white;
}

.menu li {
    margin: 0.3em 0;
}

.menu a {
    color: white;
    text-decoration: underline;
}

.nav button {
    border: none;
    background-color: transparent;
    color: black;
    text-decoration: underline;
}