.home {
    background-color: #1c93d3;
    padding: 1em 0 .1em 0;
}

.home div {
    margin: 0 1em 1em 1em;
    margin-bottom: 1em;
    padding: .5em;
    background-color: white;
    border-radius: 1em;
}

.home div p {
    text-align: center;
    margin-bottom: .5em;
}

.home div a {
    background-color: #7FCCF2;
    border-radius: .5em;
    padding: .1em;
}

.home a {
    color: black;
    text-decoration: none;
}

.home menu {
    display: flex;
    margin: .5em 0 1.5em 0;
    text-decoration: underline;
}

.prev_page {
    margin-left: .5em;
    align-items: flex-start;
}

.next_page {
    margin: 0 .5em 0 auto;
}