.home div {
    margin: 1em;
    padding: .5em;
    background-color: lightgray;
}

.home div p {
    text-align: center;
    margin-bottom: .5em;
}

.home div a {
    background-color: lightgreen;
    border-radius: .5em;
}

.home a {
    color: black;
    text-decoration: none;
}

.home menu {
    display: flex;
    margin: .5em 0 1.5em 0;
    text-decoration: underline;
}

.prev_page {
    margin-left: .5em;
    align-items: flex-start;
}

.next_page {
    margin: 0 .5em 0 auto;
}