.update_article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: black;
}

.update_article form {
    width: 90vw;
    margin: auto;
    border-radius: 1.5em;
    background-color: white;
}

.update_article form h1 {
    color: black;
}

.update_article form input,
.update_article form textarea,
.update_article form select {
    display: block;
    width: 90%;
    border: 1px solid black;
    border-radius: 1em;
    padding: .3em;
    text-indent: 0.3em;
    margin: 0.7em auto 1.2em auto;
}

.update_article form select {
    font-size: .7em;
    text-align: center;
}

.update_article form button {
    display: block;
    margin: auto auto 1.5em;
    border: 1px solid black;
    background-color: transparent;
    padding: 0.3em;
    border-radius: .7em;
}