.articles {
    background-color: #1c93d3;
    padding: 1em;
}

.articles div {
    margin: 1em;
    padding: .5em;
    background-color: white;
    border-radius: 1em;
}

.articles div h2 {
    margin-bottom: .3em;
}

.articles div a,
.articles div button {
    color: black;
    margin-right: .7em;
    vertical-align: middle;
}

.articles div button {
    border: none;
    background-color: transparent;
}